
{% load static %}

 
{% if messages %}
  <div class="text-center">    
    {% for message in messages %}
      <div class="alert alert-{% if message.tags == 'error' %}danger{% elif message.tags == 'warning' %}warning{% elif message.tags == 'success' %}success{% endif %} alert-dismissible fade show" role="alert">
        {% if message.tags == 'error' %}
          <i class="bi bi-hand-thumbs-down-fill"></i>
        {% elif message.tags == 'warning' %}
          <i class="bi bi-exclamation-triangle"></i>
        {% elif message.tags == 'success' %}
          <i class="bi bi-check-square"></i>
        {% endif %}
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  </div>
  <script>
    // Auto close the alert after 5 seconds
    setTimeout(() => {
      const alertNode = document.querySelector('.alert');
      if (alertNode) {
        const alert = new bootstrap.Alert(alertNode);
        alert.close();
      }
    }, 3000);
  </script>


{% endif %}

